/* STYLE GERAL */

body {
    height: 850px;
    @include type-1(18px);
}

img {
    display: block;
    max-width: 100%;
}

.close {
    display: none;
}
/* END STYLE GERAL */


.box__cart {
    position: relative;
    max-width: 358px;
    left: 70%;
    top: 2px;

    &:before {
        content: "";
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 30px solid $white-menu;
        top: -23px;
        margin-right: -12px;
        position: absolute;
        right: 7%;

            @include device(s){
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 20px solid #eee;
                top: -18px;
                right: 24px;
            }

            @include device(m){
                border-left: 20px solid transparent;
                border-right: 20px solid transparent;
                border-bottom: 20px solid $white-menu;
                top: -19px;
                margin-right: -12px;
                position: absolute;
                right: 4%;
            }
        }

        @include device(m) {
            left: 52%;
        }

        @include device(s){
            left: 3%;
            max-width: 326px;
        }
    

    &__produtos {
        display: flex;
        flex-direction: column;
        background-color:$bg-produto;
        height: 460px;
        width: 100%;
        overflow-y: scroll;

        
        &__produto {
            display: flex;
            align-items: center;
            padding: 20px;
            margin: 0 12px;
            border-bottom: solid 1px $border-produto;

            div:first-child {
                margin-right: 15px;
            }

            &__info {
                @include device(s){
                    font-size: 0.7rem;
                }
                p {
                    padding-bottom: 20px;
                }

                .qtd {
                    display: inline-block;
                    margin-right: 20px;
                    color: $title-menu;
                    font-weight: 500;
                }

                .price {
                    color: $bg-secondary;
                    font-weight: 700;
                }

                &__desc {
                    display: flex;
                    justify-content: space-between;

                }

            }

        }
    }
    /* Box Action */
    &__action{
        background-color: $bg-action;
        
        @include device(s){
            background-color: $bg-action;
            width: 94%;
            position: absolute;
            left: 10px;
        }
        
        &__priceTotal {
            padding: 25px;
            @include type-1(16px);

            @include device(s){
                padding: 20px;
            }

            span {
                font-weight: 700;
                color: $text-default;
                @include type-1(16px);
            }
        }

        &__buy {
            background-color:$bg-secondary;
            text-align: center;
            &__btnBuy {
                border: none;
                background: transparent;
                color: $white;
                padding: 20px;
                font-weight: bold;
                @include type-1(16);

                @include device(s){
                    padding: 13px;
                }
            }
        }
    }
}