/* STYLE GERAL */

body {
    height: 2000px;
    position: relative;
    @include type-1(18px);
}

img {
    display: block;
    max-width: 100%;
}
/* END STYLE GERAL */

.box {
    background-color: #ccc;
    height: 460px;
    width: 322px;
    overflow-y: scroll;

    .produtos {
        display: flex;

        .produto {}

        .informacoes {}
    }
}
